.todo {
  position: relative;
  border: 1px solid rgb(46, 58, 95);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  color: white;
}

.todo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}

.todo .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.todo .button-group {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.todo button {
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
}

.todo button.info {
  background-color: rgb(27, 99, 193);
}

.todo button.warning {
  background-color: rgb(193, 163, 27);
}

.todo button.danger {
  background-color: rgb(193, 69, 27);
}
